In [1]:
my_list =[1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list2 =['SuriyaKumar', 27, 04.1994]

In [4]:
my_list2

['SuriyaKumar', 27, 4.1994]

In [5]:
len(my_list2)

3

In [6]:
my_list2[2]

4.1994

In [7]:
my_list2[0:]

['SuriyaKumar', 27, 4.1994]

In [8]:
my_list2[1:]

[27, 4.1994]

In [9]:
my_list2[:-1]

['SuriyaKumar', 27]

In [10]:
my_list2[:1]

['SuriyaKumar']

In [11]:
my_list + my_list2

[1, 2, 3, 'SuriyaKumar', 27, 4.1994]

In [14]:
my_list2[0] = "Suriya"

In [16]:
my_list2

['Suriya', 27, 4.1994]

In [21]:
my_list2.append("India")

In [22]:
my_list2

['Suriya', 27, 4.1994, 'India']

In [23]:
popped_item = my_list2.pop()

In [24]:
my_list2

['Suriya', 27, 4.1994]

In [25]:
popped_item

'India'

In [26]:
type(popped_item)

str

In [27]:
my_list2.pop(2)

4.1994

In [28]:
my_list2

['Suriya', 27]

In [29]:
my_list2.append("India")

In [30]:
my_list2

['Suriya', 27, 'India']

In [31]:
x: str = ['s','a','d','b','c']
y: int = [4,2,1,3]

In [32]:
type(my_list2)

list

In [33]:
x.sort()
y.sort()

In [34]:
x
y

[1, 2, 3, 4]

In [35]:
x

['a', 'b', 'c', 'd', 's']

In [36]:
y

[1, 2, 3, 4]